.root {
    --primary: ;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background-color: var(--bg);
    color: #fff;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid rgba(1, 1, 1, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo {
    font-size: 2.3em;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar-logo span {
    color: sandybrown;
}

.navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}


.navbar-nav a:hover {
    color: sandybrown;
}

.navbar-nav a::after {
    content: '';
    display: block;
    padding: 0.5rem;
    border-bottom: 0.1rem solid sandybrown;
    transform: scaleX(0);
    transition: 0.3s linear;
}

.navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar-extra a {
    color: #fff;
    margin: 0 0.9rem;
}

.navbar-extra a:hover {
    color: sandybrown;
}

#menu {
    display: none;
}

/* Hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/pizza-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1,1,3,1) 8%, rgba(255, 255, 255, 0) 50%);
}

.content {
    padding: 1.3rem 6%;
    max-width: 60rem;
    height: 33rem;
}

.content h1 {
    font-size: 4.8em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.1;
}

.content h1 span {
    color: sandybrown;
}

.content p {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-top: 1rem;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

.content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: sandybrown;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
.contact {
    padding: 10rem 7% 1.4rem;
    color: #fff;
    background-color: #010101;
}

.about h2,
.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.contact h2 span {
    color: sandybrown;
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
    border-radius: 15px;
}

.about .row .content-tkami {
    flex: 1 1 45rem;
    padding: 1rem;
}

.about .row .content-tkami h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content-tkami p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}

/* Menu section */
.menu-kami {
    color: #fff;
    background-color: #010101;
    padding: 10rem 7% 1.4rem;
}

.menu-kami h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.menu-kami h2 span {
    color: sandybrown;
}

.menu-kami p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
    font-size: 1.5rem;
}

.row-menu {
    display: flex;
    text-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.menu-card {
    text-align: center;
    padding-bottom: 5rem;
}

.menu-img-1 {
    width: 60%;
    border-radius: 50%;
}

.menu-tittle-1 {
    margin-top: 2.5rem;
}

/* Contact Section */
.contact h2 {
    margin-bottom: 1rem;
}

.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
    font-size: 1.5rem;
}

.contact .contact-row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
}

.contact-row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact-row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: #010101;
    border: 1px solid #fff;
    padding-left: 2rem;
}

.input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.submit {
    color: #fff;
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: sandybrown;
    font-size: 1.5rem;
    border-radius: 5px;
}

.submit a {
    color: #fff;
}

/* Footer */
footer {
    background-color: #010101;
    text-align: center;
    padding: 1rem 0;
    margin-top: 0;
}

footer .social {
    padding: 1rem 0;
}

footer .social a {
    color: #fff;
    margin: 1rem;
}

footer .social a:hover {
    color: sandybrown;
}

footer .link {
    margin-bottom: 1.4rem;
}

.link a {
    color: #fff;
    padding: 0.7rem 1rem;
}

.link a:hover {
    color: sandybrown;
}

.credit {
    font-size: 0.8rem;
}

.credit a {
    font-weight: 700;
}


/* Media Queris */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}
/* Tablet */

@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #menu {
        display: inline-block;
    }

    .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(1, 1, 1, 0.8);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar-nav.active {
        right: 0;
    }

    .navbar-nav a {
        color: #fff;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar-nav a:hover::after {
        transform: scaleX(0.3);
    }

    .row {
        flex-wrap: wrap;
        display: flex;
    }

    .about-img {
        object-position: center;
        object-fit: cover;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
    }

    .about .row .content-tkami h3 {
        line-height: 2;
        font-size: 2rem;
    }

    .about .row .content-tkami p {
        font-size: 1.5rem;
    }

    .row-menu {
        flex-wrap: wrap;
    }

    .contact-row {
        flex-wrap: wrap;
    }

    .contact-row .map {
        height: 30rem;
    }

    .contact-row form {
        padding-top: 0;
    }

}
/* Handphone */

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .navbar-logo {
        font-size: 3.5em;
    }

    .navbar-nav a {
        font-size: 2em;
    }

    .content h1 {
        font-size: 4em;
    }

    .row .about-img img {
        width: 60%;
    }

    .menu-img-1 {
        width: 50%;
    }

}

